<div>
  here
  <div class="test">
    <ne-datepicker
      [date]="date"
      dateIn="AD"
      (dateInBS)="updateNepaliDate($event)"
      (dateInAD)="updateEnglishDate($event)"
    ></ne-datepicker>
    <div>
      <h3>Output</h3>
      <p>
        Nepali date: <span>{{ nepaliDate }}</span>
      </p>
      <p>
        English date: <span>{{ englishDate }}</span>
      </p>
    </div>
  </div>

  <div class="interactive">
    <div class="hello">
      <ne-datepicker
        [date]="date"
        dateIn="AD"
        (dateInBS)="updateItNepaliDate($event)"
        (dateInAD)="updateItEnglishDate($event)"
        [primaryColor]="primaryColor"
        [language]="language"
        [hasMultipleCalendarView]="hasMultipleCalendarView"
        [darkTheme]="isDark"
        [isError]="isError"
      ></ne-datepicker>
    </div>
    <div class="it-options">
      <div class="it-options__block">
        <p>Primary color</p>
        <input type="text" [(ngModel)]="primaryColor" />
        <span
          >Primary color value must be color name or hex value with #
          prefix</span
        >
      </div>
      <div class="it-options__block">
        <p>Dark theme</p>
        <input type="checkbox" [(ngModel)]="isDark" />
      </div>
      <div class="it-options__block">
        <p>Error State</p>
        <input type="checkbox" [(ngModel)]="isError" />
      </div>
      <div class="it-options__block">
        <p>Has multiple calendar View</p>
        <input type="checkbox" [(ngModel)]="hasMultipleCalendarView" />
      </div>
      <div class="it-options__block">
        <p>language</p>
        <select [(ngModel)]="language">
          <option *ngFor="let lang of languageOptions" [value]="lang.value">
            {{ lang.label }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="interactive">
    <div class="hello">
      <h4>with Disabled dates</h4>
      <span>minimum date</span>
      <ne-datepicker
        [date]="date"
        dateIn="AD"
        (dateInBS)="updateItNepaliDate($event)"
        (dateInAD)="updateItEnglishDate($event)"
        [primaryColor]="primaryColor"
        [language]="language"
        [hasMultipleCalendarView]="hasMultipleCalendarView"
        [darkTheme]="isDark"
        [isError]="isError"
        [minDate]="minDate"
      ></ne-datepicker>
      <span>maximum date</span>
      <ne-datepicker
        [date]="date"
        dateIn="AD"
        (dateInBS)="updateItNepaliDate($event)"
        (dateInAD)="updateItEnglishDate($event)"
        [primaryColor]="primaryColor"
        [language]="language"
        [maxDate]="maxDate"
        [hasMultipleCalendarView]="hasMultipleCalendarView"
        [darkTheme]="isDark"
        [isError]="isError"
      ></ne-datepicker>
    </div>
  </div>
</div>
